* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(120deg, #e79ddb 0%, #fda085 100%);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
header {
  font-size: 2rem;
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
  }
  button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
    color: #e668ffe7;
    background: #f7fffe;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      background: #e731ff;
      color: white;
    }
  }
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  min-width: 30%;
  list-style: none;
}
.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
  li {
    flex: 1;
  }
}
.filter-todo {
  padding: 1rem;
}
.trash-btn {
  background: #e731ff;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background: #e731ff;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  background: rgb(8, 221, 168);
}
.todo-item {
  padding: 0rem 0.5rem;
}
.fa-trash {
  pointer-events: none;
}
.fa-check {
  pointer-events: none;
}
.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
  color: #e731ff;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
}
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  &::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    background: #e731ff;
    cursor: pointer;
    pointer-events: none;
  }
}
